<!-- footer  -->
{% load static %}
<div class="main-footer">
    <h2>Current Officers</h2>
    <div class="footer-content">

        <div class="section">
            <span>
                <h5>President</h5>
            </span>
            <img src="{% static 'images/prs.jpg' %}">
            <span> 
                <h5>Mamadou Sow</h5>
            </span>
        </div>

        <div class="section">
            <span>
                <h5>V.P</h5>
            </span>
            <img src="{% static 'images/vp.png' %}">
            <span> 
                <h5>Ahmadou Barry</h5>
            </span>
        </div>

        <div class="section">
            <span>
                <h5>Treasury</h5>
            </span>
            <img src="{% static 'images/trs.jpg' %}">
            <span> 
                <h5>Souadou Bah</h5>
            </span>
        </div>

        <div class="section">
            <span>
                <h5>Secretary</h5>
            </span>
            <img src="{% static 'images/gsa.png' %}">
            <span> 
                <h5>Open Position</h5>
            </span>
        </div>


    </div>
</div>
<div class="footer-battom">
    &copy; contact us at <a href="mailto:gsaatbmcc@gmail.com" style="color: rgb(35, 3, 154);">gsaatbmcc@</a> 2020 &nbsp;| designed & developed by <a href="https://boussouriouy.com" target="_blank" style="color: rgb(35, 3, 154);">M.B.Diallo</a>
</div>
</div>
</div>
</div>