{% load static %}
<!-- Top Bar -->
<section id="top-bar" class="p-1">

    <div class="col-md">
        <img src="{% static 'images/gsa.png' %}" class="logo" alt="gsa logo">
        <span class="title">GSA-BMCC</span>
        <span class="social text-right">
            <a href="https://www.facebook.com/gsa.bmcc" target="_blank">
                <ion-icon name="logo-facebook"></ion-icon>
            </a>
            <a href="https://www.instagram.com/gsaattbmcc2019/?hl=en" target="_blank">
                <ion-icon name="logo-instagram"></ion-icon>
            </a>
        </span>
    </div>

</section>