{% extends 'gsabmcc/templates/base/base.html'%}
<!-- This is for the title at the url -->
{% block title %} member page {% endblock%}
<!-- This is where the content started -->
{% block content %}
<main>
    <h2 class="text-center">{{member.count}} Members{{member.count|pluralize}}</h2>
    <section class="container-M">
        {% for i in member %}
        <div class="flex-box-M">
            {% if i.url and i.image.url %}
            <a href="{{i.url}}"><img src="{{i.image.url}}"></a>
            <h5>{{i.name }}</h5>
            {% else %}
            <img src="{{i.image.url}}">
            <h5>
                <a href="{% url 'detail' i.id %}">{{i.name}}</a>
            </h5>
            {% endif %}
        </div>
        {% endfor %}
    </section>

    <!-- this where the pagination started -->
    <div class="row">
        <div class="col-md-12">
            <!-- this where the pagination started -->
            {% if member.has_other_pages %}
            <ul class="pagination">
                <!-- this where the first arow(PREVIOUS) of pagination started -->
                {% if member.has_previous %}
                <li class="page-item">
                    <a href="?page={{member.previous_page_number}}" class="page-link">&laquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">&laquo;</a>
                </li>
                {% endif %}

                <!-- this where the activate pages(HIGLIGTHS THE PAGE) of pagination started -->
                {% for i in member.paginator.page_range %} {% if member.number == i %}
                <li class="page-item active">
                    <a class="page-link">{{i}}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                </li>
                {% endif %} {% endfor %}

                <!-- this where the second row(NEXT) of pagination started -->
                {% if member.has_next %}
                <li class="page-item">
                    <a href="?page={{member.next_page_number}}" class="page-link">&raquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">&raquo;</a>
                </li>
                {% endif %}

            </ul>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}